/* .trusted-advisors-section {
    color: #333;
  }
  
  .trusted-advisors-section h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .info-card {
    border-radius: 10px;
    background-color: #f8f9fa;
  }
  
  .info-card h3 {
    font-weight: 700;
  }
  
  .advisor-text {
    font-size: 1rem;
    color: #666;
  }
   */